* {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
}
main {
  background-color: hsl(240, 75%, 98%);
}
body {
  margin: 0%;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.6rem;
}
button:hover {
  cursor: pointer;
  opacity: 0.9;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 3vh auto;
}
nav img {
  height: 4vh;
}
nav div {
  display: flex;
  align-items: center;
  gap: 15%;
  width: 25vh;
}
nav a {
  color: black;
  text-decoration: none;
}

.all {
  display: flex;
  gap: 5%;
  flex-wrap: wrap-reverse;
  margin: 10vh auto;
  width: 95%;
}
.all h1 {
  width: 30ch;
}
.all p {
  width: 70ch;
}

.all img {
  width: 30%;
}
#input {
  display: flex;
  gap: 5%;
}
#input input {
  height: 2.5vh;
  width: 22vw;
}
#input input::placeholder {
  font-size: 0.8rem;
}
#input input:focus[value] {
  color: transparent;
}
#input input:invalid {
  outline: 1px solid red;
  border: none;
}

#input button {
  background-color: hsl(224, 93%, 58%);
  border: none;
  color: white;
  border-radius: 0.3rem;
  width: 16vw;
}
.stay {
  background-color: whitesmoke;
  background-size: contain;
  display: flex;
  flex-wrap: wrap-reverse;
  margin: auto;
  padding-left: 4vw;
  gap: 5%;
}

.stay > div {
  width: 105ch;
}

.stay p {
  width: 70%;
}
.stay a {
  color: hsl(170, 45%, 43%);
  border: none;
}
.stay a:hover {
  opacity: 0.6;
}

.green a {
  border: none;
}

#box {
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 5%;
  padding: 3% 5%;
  height: 35%;
  width: 35%;
}

.stay > img {
  height: 30%;
  width: 30%;
}
.small-img * {
  font-size: 0.7rem;
}
.small-img {
  display: flex;
  gap: 3%;
  height: 20%;
}

.small-img img {
  border-radius: 25px;
}
.small-img h3 {
  margin: 4% 0;
}
.small-img p {
  display: inline;
}
#background-blue {
  background-color: hsl(238, 22%, 44%);
}
.get {
  display: flex;
  flex-wrap: wrap;
  gap: 15%;
  width: 95%;
  margin: auto;
  color: white;
  padding: 5vh 0;
}
.get div {
  width: 40%;
}
.get h2 {
  margin-top: 0%;
}
.get input {
  height: 3vh;
  width: 90%;
}
.get button {
  background-color: hsl(224, 93%, 58%);
  color: white;
  border: none;
  margin-top: 1vh;
  border-radius: 0.3rem;
  height: 3.7vh;
  width: 20vw;
}
footer {
  background-color: hsl(243, 87%, 12%);
  height: 25vh;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
footer section {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  width: 96%;
}
footer img {
  height: 4vh;
}
footer p::before {
  content: "";
  height: 1vh;
  width: 1vw;
  background-size: 100%;
  display: inline-block;
  margin-right: 5%;
}
footer p:first-of-type::before {
  background-image: url(images/icon-phone.svg);
}
footer p:last-of-type::before {
  background-image: url(images/icon-email.svg);
}
footer div {
  width: 25vw;
}
footer ul {
  width: 100%;
  list-style: none;
  margin-top: 25%;

  columns: 2;
}
footer li {
  margin-bottom: 7%;
}
footer a {
  color: hsl(0, 0%, 75%);
  text-decoration: none;
}
footer a:hover {
  color: rgb(77, 79, 219);
}
