* {
  border: 1px solid;
  font-family: "Courier New", Courier, monospace;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 3vh auto;
}
nav img {
  height: 4vh;
}
nav ul {
  width: 40%;
}
nav li {
  display: inline-block;
  margin-left: 8%;
}
nav a {
  list-style: none;
}
.all {
  display: flex;
  gap: 9%;
  flex-wrap: wrap-reverse;
  margin: 10vh auto;
  width: 95%;
}
.all div {
  width: 50%;
}
.all img {
  width: 40%;
}
#input {
  height: 2.8vh;
  width: fit-content;
  display: flex;
  gap: 5%;
}
#input input {
  height: 2.3vh;
  width: 22vw;
}
#input button {
  background-color: rgba(33, 33, 243, 0.801);
  color: white;
  border-radius: 0.3rem;
  width: 16vw;
}
